html {
	box-sizing: border-box;
}
body{
	box-sizing: inherit;
}
*,
*::after,
*::before {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
	color:black;
}
	.nike-section {
		display: flex;
		align-items: center;
		justify-content: center;
	}
.nike-section {
	background-color: #4D26E6;
	margin-top: 20px;
}
.sneakers-part {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.sneaker {
	position: absolute;
	top:20%;
	left: -25%;
	/*display: none;*/
}
.left-nike-part {
	display: flex;
	flex-direction: column;
	width: 500px;
	height: 700px;
	background-color: #E26796;
	box-shadow: 0px 5px 30px black;
	border-radius: 8px;
}
.for-image-logo {
	margin-left: 20px;
	margin-top: 10px;

}

.first-dot {
	width: 20px;
	height: 20px;
	border-radius:50px;
	margin-right: 20px;
	background-color: #F0A6C0;
}
.second-dot {
	width: 20px;
	height: 20px;
	border-radius:50px;
	margin-right: 20px;
	background-color: white;
}
.third-dot{
	width: 20px;
	height: 20px;
	border-radius:50px;
	background-color: #F0A6C0;	
}

.first-dot:hover {
	background-color: white;
}
.third-dot:hover {
	background-color: white;
}
.thirty-nine {
	font-size: 300px;
	margin-bottom: 250px;
	color:#E987AB;
}
.for-three-dots {
	display: flex;
}
.first-plus {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background-image: url(./img/white-plus.png);
	background-position: center;
	background-size: 20px;
	background-repeat: no-repeat;
	position: absolute;
	left: 10px;
	top:32%;	
	background-color: #5429F2;
}
.first-plus:hover {
	background-color: #6028D2;
}
.second-plus:hover {
	background-color: #6028D2;
}
.third-plus:hover {
	background-color: #6028D2;
}
.second-plus {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background-image: url(./img/white-plus.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
	position: absolute;
	left: 18%;
	top:52%;
	background-color: #5429F2;
}
.third-plus {
	width: 40px;
	height: 40px;
	border-radius: 40px;
	background-image: url(./img/white-plus.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 20px;
	position: absolute;
	top:62%;
	left: 55%;
	background-color: #5429F2;
}


/*beginning of right side*/
.right-part-nike {
	border-radius: 8px;
	width: 450px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	position: relative;
	background-color: white;
	box-shadow: 0px 5px 20px black;
}
.nike-heading {
	font-size: 34px;
	margin-bottom: 15px;
	margin-top: 20px;
}
.pirces-nike {
	display: flex;
	margin-bottom: 30px;
}
.first-price {
	font-size: 24px;
	margin-right:10px;
}
.second-price {
	font-size: 16px;
	color:grey;
}
.description-nike {
	margin-bottom: 40px;
}
.pirces-nike {
	display: flex;
	align-items: center;
}

.sizes-xl-l-s {
	display: flex;
	margin-bottom: 20px;
}
.sizexl {
	margin-right: 20px;
	font-size: 20px;
}
.items {
	margin-left: 30px;
	font-size: 25px;
}
.items:hover {
	opacity: 0.7;
}
.size-list {
	display: flex;
}

.nike-amount {
	display: flex;
}
.left-triange {
  width: 0; 
  height: 0; 
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent; 
  border-right:14px solid #E26796;
  margin-right: 10px;
}
.left-triange:hover {
	opacity: 0.7;
}

.right-triangle {
  width: 0; 
  height: 0; 
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 14px solid #E26796;
  margin-left: 10px;
}
.right-triangle:hover {
	opacity: 0.7;
}
.amount-nike {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}
.paragraph-2 {
	font-size: 25px;
}
.buy-now-link {
	padding: 10px 50px 10px 50px;
	margin-bottom: 30px;
	border-radius: 5px;
	background-color: #E74C3C;
	color:white;
	position: absolute;
	bottom: -15px;
	transition:bottom 0.2s ease;
}
.buy-now-link:hover {
	bottom: -10px;
}